* {
  margin: 0;
  padding: 0;

  font-family: 'xyz', sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
}
.container{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e3f9ff;
}
.calculator{
background: #3a4452;
border-radius: 10px;
padding: 20px;
display: flex;
align-items: center;
justify-content: center;
}
.calculator form input{
  height: 60px;
  width: 60px;
  outline: 0;
  border: 0;
  border-radius: 10px;
  box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1),5px 5px 15px rgba(0, 0, 0, 0.2);
background: transparent; 
font-size: 20px;
color:red ;
cursor: pointer;
font-size: 20px;
margin: 10px;
text-align: center;



}
form #display{
display: flex;
justify-content: flex-end;
margin: 20px 0;

}
form #display input{
  box-shadow: none;
  text-align: right;
  flex: 1;
  font-size: 45px;
}
form input.equel{
  width: 145px;
  color: #a2d712;
}
form input.operator{
  color: #a2d712;
}
